.App {
  text-align: center;
}

.form_h2 {
  color: #fff;
  background-color: #888;
}

.hidden {
  opacity: 0;
}

.opning {
  height: 100vh;
}

/* ------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- module spacing ---------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------- */
.module--spacing--small {
  height: 20px;
}

.module--spacing--large {
  height: 40px;
}

/* ------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- animation setting ---------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------- */
.wrapper {
  animation: fadeIn 1.3s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


