.App {
  text-align: center;
}

.form_h2 {
  color: #fff;
  background-color: #888;
}

.hidden {
  opacity: 0;
}

.module--spacing--small {
  height: 20px;
}

.module--spacing--large {
  height: 40px;
}
