.App {
  text-align: center;
}

.form_h2 {
  color: #fff;
}

.hidden {
  opacity: 0;
}

.opning {
  height: 100vh;
}

/* ------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------- module spacing ---------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------- */
.module--spacing--small {
  height: 20px;
}

.module--spacing--large {
  height: 40px;
}


